# Elvenware
foo.html
RunReport.txt
Fall2017Projects.html
*.jpg
*.png
*.zip
development

# Keep in main directory
# /*.sh
# scripts
# Dockerfile

# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
