
<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>ElfTable</Title>
        </Header>
        <Snippet>
            <Code Language="HTML">
                table>(thead>tr>(th*3))*(tbody>tr>(td*3))   
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>