body {
    font-size: 133%;
    font-family: sans-serif;
}

section {
    margin: auto;
    width: 700px;
    height: 580px;
}

img {
    float: left;
    padding-right: 15px;
    width: 250px;
    height: auto;   
}
