.elf-border {
    display: inline-block;
    border: 1px black solid;
}

.btn-padding {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 10px green double;    
    border-radius: 22px;
}

.btn-padding:hover {
    background-color: aqua;
    border-color: white;
}

.btn-margin {
    margin: 25px;
    border: 10px green groove;    
}

.btn-margin:hover {
    background-color: aqua;
    border-color: white;
}

.btn-margin-padding {
    margin: 25px;
    padding: 25px;
    border: 10px green groove;
    font-size: large;
    font-weight: bold;    
}

.btn-margin-padding:hover {
    background-color: aqua;
    border-color: white;
}

.btn-margin-padding:active {
    color: red;
}
