body {
    font-size: 133%;
    font-family: sans-serif;
}

img {
    float: left;
    padding-right: 15px;
    width: 125px;
    height: auto;
}

img.normal-image {
    clear: left;
    width: 95%;
    height: 95%;
    border: red thick solid;
    border-radius: 25px;
    margin-bottom: 15px;
}

h1 {
    font-size: 165%;
}

h2 {
    clear: left;
    font-size: 140%;
}

.alone {
    clear: left;
    font-size: 100%;
}

header figure>img {
    margin-bottom: 15px;
}

main {
    margin: auto;
    max-width: 700px;
    height: 580px;
}

.centered {
    text-align: center;
}
