body {
    font-size: 133%;
    font-family: sans-serif;
    margin: auto;
    max-width: 700px;
    height: 580px;
    background-color: LightCyan;
}

figure.left {
    float: left;
}

figure.right {
    float: right;
}

footer {
    background-color: aliceblue;
    text-align: center;
}

header {
    background-color: lightblue;
    text-align: center;
}

header p {
    font-weight: bold;
    color: blue;
}

header figure>img {
    margin-bottom: 15px;
}

h1 {
    font-size: 165%;
}

h2 {
    clear: left;
    font-size: 140%;
}

iframe {
    border: 1px green solid;
}

main {
    background-color: LightSteelBlue;
}

pre.scroll {
    overflow-x:scroll;    
}

pre.code {
    border: 1px solid black;
    border-radius: 10px;
    background-color: PaleTurquoise;
}

table {
    border-collapse: collapse;
    border: 3px solid blue;    
    width: 100%;
}

tr, td{
    border: 2px solid black;    
}

.byline {
    font-style: italic;
    font-family: serif;
    font-size: 80%;
}


.centered {
    text-align: center;
}

img.small-image {
    float: left;
    padding-right: 15px;
    width: 125px;
    height: auto;
}

img.normal-image {
    clear: left;
    width: 95%;
    height: 95%;
    padding: 0% 0% 0% 0%;
    border: green thick solid;
    border-radius: 25px;
    margin-bottom: 15px;
}

.alone {
    clear: left;
    font-size: 100%;
}

