.elf-header {
    background-color: #FFF;
    color: #fff;
    padding: 1rem;
    text-align: left;
    letter-spacing: 0.1rem;
    text-transform: none;
    text-shadow: none;
}

.elf-date {
    color: #fff;
    padding: 1rem;
    text-align: left;
    letter-spacing: 0.1rem;
    text-transform: none;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
  }

  li:last-child {
    border: none;
  }

  li a {
    text-decoration: none;
    color: #000;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 200px;
  }

  li a:hover {
    font-size: 30px;
    background: #f6f6f6;
  }
