#greenword {
    color: green;    
}

#greenrgb {
    color: rgb(0,126,0)
}

#greenrgba {
    color: rgb(0,126,0, 0.5)
}

#greenhex {
    color: #008000;
}

#greenhsl {
    color: hsl(120, 100%, 25%)
}

#greenhsla {
    color: hsl(120, 100%, 25%, 0.5)
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal h1 {
    font-size: 2.55em; 
}